body{
    background-color: rgb(223, 241, 241);
    color: black;
}    

section{
    background-color: rgba(143, 133, 133, 0.33);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    margin: 50px;
}
.chamada-texto{
margin-right: 5%;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}