body{
    background-color: rgb(223, 241, 241);
    color: black;
    font-family:"Noto Sans";
}    

section{
    background-color: rgba(143, 133, 133, 0.33);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    margin: 50px;
}
.chamada-texto{
margin-right: 5%;
}


.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}


.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover {
    border: 5px solid rgba(156, 232, 213, 0.215);
    opacity: 1.0;
}